.input-form {
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

#input {
	height: 40px;
}

.measurement {
	margin-top: 6px;
	width: 40%;
	display: block;
}
.button-cont {
	/* margin-top: 10px; */
	margin-left: 1px;
	height: 39px;
}

.btn-input {
	display: flex;
}

.button-cont button {
	border-radius: 3px;
	border-color: transparent;
	height: 100%;

	background-color: orange;
}

.suggestions-cont {
	position: absolute;
}

.suggestion-item {
	padding: 2px;
	background-color: white;
	border-top: 1px solid grey;
	text-align: left;
	width: 18rem;
	max-width: 18rem;
}

.input-auto {
	height: 38px;
	width: 18rem;
}

.error-cont {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.error {
  width: 80%;
  text-align: center;
  background-color: rgb(238, 20, 20);
  font-size: xx-large;
}
