@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #36aff5;
}

.App {
	text-align: center;
}

#name-header {
	color: #e36f2b;
	font-size: 90px;
	margin-bottom: 10px;
	font-family: 'Big Shoulders Text';
}

.error-cont {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	animation: 1s ease-out 0s slideInFromLeft;
	-webkit-animation: 1s ease-out 0s slideInFromLeft;
}

.divider {
	padding: 4px;
	background-color: black;
}

.divider div {
	border: 1px solid white;
	float: right;
	color: white;
	padding: 0.8rem;
}

.divider div:hover {
	background-color: red;
	cursor: pointer;
}

.error {
	width: 80%;
	text-align: center;
	background-color: rgb(238, 20, 20);
	color: white;
	font-size: xx-large;
	padding: 0.5rem;
}
