@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');


body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #36aff5;
}

.App {
  text-align: center;
}

#name-header {
  color: #e36f2b;
  font-size: 90px;
  margin-bottom: 10px;
  font-family: 'Big Shoulders Text';
}
