.single-day-cont {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.clouds {
	background-image: url('images/cool-clouds.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.rainy {
	background-image: url('images/rainy.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: floralwhite;
}

.clear-sky {
	background-image: url('images/clear.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
}

.snow {
	background-image: url('images/snow.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.mist {
	background-image: url('images/mist.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.day-cont {
	width: 80%;
	border: 2px solid orange;
}

.temp span {
	font-size: 50px;
}
